.blank-space {
  margin-top: 100px;
}
.category-banner {
  margin-top: 100px;
}
.category-banner img {
  width: 100%;
}
.category-banner .caption {
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
.category-banner video {
  width: 100%;
}
.footer {
  margin-top: 150px;
}
.blank-space {
  margin-top: 160px;
}
.navbar-brand{
font-family: "Satisfy-Regular";
font-size: 45px;
color: #24273e;
}
.facebook-icon{
font-size: 16px !important;
}
.youtube-icon{
font-size: 16px !important;
}
@media screen and (max-width: 426px){
.navbar-brand{
font-size: 25px !important;
}
@media screen and (max-width: 321px){
.navbar-brand{
font-size: 20px !important;
}